.app-container {
  background-color: #ddd;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 10vh;
  text-align: center;
}

nav {
  margin-top: 7vh;
}

nav a {
  color: black;
  text-decoration: none;
}
.active button {
  color: green;
}

button {
  font-size: 1.5em;
}

@media (max-width: 720px) and (orientation: portrait){
  .title {
    font-size: 10vw; 
    margin: 3vh 5vw 0 5vw;
  }    
  button {
    font-size: 5vw;
  }
  nav {
    margin-top: 3vh;
  }
}

@media (max-width: 720px) and (orientation: landscape){
  .title {
    font-size: 5vw; 
    margin: 5vh 5vw 0 5vw;
  }    
  button {
    font-size: 3vw;
  }
}